*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    /* background-color: red; */
}

body{
    border: red solid;
    height: 100vh;
}

section{
    width: 400px;
    height: 200px;
    border: blue solid;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
}

h1{
    text-align: center;
}

p{
    text-align: center;
}